<div class="topic"> Countries in the World </div>
<!-- <div *ngFor = "let countries of country ">
    <div>{{countries.country_name}}</div>
</div> -->
<div class="table-div">
<table mat-table [dataSource]="country" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.country_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
                <button mat-raised-button color="primary" class="example-button-row" (click)="openEditDialog(element)">Update</button>
                <button mat-raised-button color="warn" (click)="deleteSingleCountry(element.id)">Delete</button>
            </div> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<div class="add">
    <button mat-raised-button color="primary" (click)="openDialog()">Add Country</button>
</div>
